body {
    background-color: tan; 
}
h1 {
    background-color: brown; 
    color: white; 
    padding: 10px 2px; 
    margin: 20px; 
    border: 5px solid white; 
    border-radius: 20px; 
    text-align: center; 
}
#smaller {
    font-size: 1.3em; 
    background-color: dodgerblue; 
}
.highlight {
    background-color: yellow;
}
h2 {
    background-color: purple;
}
.override {
    background-color: orange;
}